* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
  }
   .popsicle {
    position: relative;
    width: 200px;
    height: 230px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border: 3px solid black;
    
    background: repeating-linear-gradient(
      90deg,
      rgba(255,252,84,1) 0%, rgba(255,252,84,1) 10%,
      rgba(116,101,230,1) 10%, rgba(116,101,230,1) 20%,
      rgba(239,137,239,1) 20%, rgba(239,137,239,1) 30%,
      rgba(138,250,77,1) 30%, rgba(138,250,77,1) 40%,
      rgba(116,251,253,1) 40%, rgba(116,251,253,1) 50%
    );
    
    background-size: 100% 100%;
    animation: animation 5s linear infinite forwards;
  }
  
  .stick {
    position: absolute;
    height: 80px;
    width: 40px;
    border: 3px solid black;
    border-top: 0;
    bottom: -83px;
    left: 50%;
    margin-left: -23px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ffcc6d;
  
  /*   background: linear-gradient(
      315deg,
      rgba(255,252,84,1) 0%, rgba(255,252,84,1) 80%,
      rgba(117,101,229,1) 80%, rgba(101,84,246,1) 100%
    );
    background-size: 200% 200%;
    animation: animation 5s linear infinite forwards; */
  }
  
  @keyframes animation {
    from { background-position: 0% 0% }
    to { background-position: 100% 100% }
  }
